body,
html {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

.tam-letra {
  font-size: 1.5em;
}

.tam-letra-1 {
  font-size: 1.2em;
}

.tam-titulos {
  font-size: 2em;
}

.gris {
  color: #444444 !important;
}

.guindo {
  color: #87181f !important;
}

.cyan {
  color: #00adf7 !important;
}

.blanco {
  color: #fff !important;
}

.azul {
  color: #1793f3 !important;
}

#nav-principal {
  padding-left: 0;
  padding-right: 0;
}

#logo {
  width: 100%;
  height: 100%;
}

.titulo {
  margin: 0;
}

.lista {
  list-style: none;
  padding-left: 0px;
  font-size: 1em !important;
}

.footer {
  margin-top: 1rem;
}

#letras {
  position: absolute;
  z-index: 1;
}

#carousel {
  border-radius: 2%;
}

#titulo-carousel {
  margin-top: 5%;
}

#subtitulo {
  font-size: 1em;
}

.section-title {
  position: relative;
}
.section-title p {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 400;
}
.section-title h4 {
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 20px;
  display: inline-block;
}
.section-title h4:before {
  position: absolute;
  content: "";
  width: 80px;
  height: 2px;
  background-color: #d8d8d8;
  bottom: 0;
  left: 50%;
  margin-left: -40px;
}
.section-title h4:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  background-color: #00adf7;
  left: 0;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
}
.pt-100 {
  padding-top: 100px;
}
.pb-100 {
  padding-bottom: 100px;
}
.mb-100 {
  margin-bottom: 100px;
}
.single-service {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 30px 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
}
.single-service:before {
  position: absolute;
  width: 0;
  height: 0;
  background-color: #00adf7;
  left: 0;
  top: 0;
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.single-service:after {
  position: absolute;
  width: 0;
  height: 0;
  background-color: #00adf7;
  right: 0;
  bottom: 0;
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.single-service:hover:after,
.single-service:hover:before {
  width: 50%;
  height: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.single-service:hover {
  box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.1);
}
.single-service i.fa {
  font-size: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #00adf7;
  line-height: 60px;
  margin-bottom: 30px;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.single-service:hover i.fa {
  background-color: #87181f;
  color: #87181f;
  border-color: #87181f;
  border-radius: 0;
}
.single-service h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.single-service p {
  font-size: 1em;
  line-height: 1.8;
}

.cards-incio {
  height: 80%;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

footer,
strong {
  background-color: #f8f9fa !important;
  color: #444444 !important;
}

#contact {
  background-color: #f8f9fa;
}

#contact .well {
  margin-top: 30px;
  border-radius: 0;
}

#contact .form-control {
  border-radius: 0;
  border: 2px solid #01476b;
}

#contact button {
  border-radius: 0;
  border: 2px solid #01476b;
}

#contact .row {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  #contact iframe {
    margin-bottom: 15px;
  }
}
