body, html{
	font-family: 'Roboto', sans-serif;
	height: 100%;
	margin: 0;
	width: 100%;
}

.tam-letra{
	font-size: 1.5em;
}

.tam-letra-1{
	font-size: 1.2em;
}

.tam-titulos{
	font-size: 2em;
}

.gris{
	color: #444444;
}

.guindo{
	color: #87181f;
}

.cyan{
	color: #00adf7;
}

.blanco{
	color: #fff;
}

.azul{
	color: #1793f3;
}

#nav-principal{
	padding-left: 0;
	padding-right: 0;
}

#logo{
	width: 100%;
	height: 100%;
}

.titulo{
	margin: 0;
}

#titulo{
	font-size: 1em;
}

#mision{
	background-color: #fff;
}

.imagen-mesa{
	width: 90%;
}

#mesa-directiva{

}

#puestos{
	padding: 1rem;
}

#vicepresidente{
	padding: 1rem 0rem 1.5rem 0rem;
}

#nombres{
	padding: 0;
}

.lista{
	list-style: initial;
}

.footer{
    margin-top: 1rem;
}

#logo-footer{
	width: 100%;
	height: 100%;
}

@media (min-width: 576px) {
	
}


@media (min-width: 768px) {

}


@media screen and (min-width: 992px) {

	#titulo{
		font-size: 2em;
	}

	.tam-letra{
		font-size: 2em;
	}

	.tam-letra-1{
		font-size: 2em;
	}	

	.guindo{
		font-size: 2em;
	}

	.gris{
		font-size: 2em;
	}
}


@media (min-width: 1200px) {

}